user_uuid="1faac276-242e-445c-b6ac-5d907f643666"
bucket_name="gqx9g7f84b9emmpkdyz8hrd2a08b0572"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"
assets_path="/workspace/terraform-beginner-bootcamp-2023/public/assets"
content_version=1